
/* =========================
   GLOBAL STYLES
========================= */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#08090d;
    color:white;
    overflow-x:hidden;

}


:root{

    --gold:#d4af37;
    --card:#151820;
    --light:#b8bcc8;
    --gradient:
    linear-gradient(135deg,#d4af37,#ff7b00);

}





/* =========================
        NAVBAR
========================= */


header{

    position:fixed;
    width:100%;
    top:0;
    z-index:1000;

}


.navbar{

    height:75px;
    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;


    padding:0 35px;


    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);

    border-radius:50px;

    margin-top:20px;

}



.logo{

    width:45px;
    height:45px;

    display:flex;
    justify-content:center;
    align-items:center;


    border-radius:50%;

    background:var(--gradient);

    font-size:22px;
    font-weight:bold;

    color:black;

}



.navbar ul{

    display:flex;
    gap:35px;

    list-style:none;

}



.navbar a{

    color:white;
    text-decoration:none;

    font-size:16px;

    transition:.3s;

}



.navbar a:hover{

    color:var(--gold);

}







/* =========================
        HERO
========================= */


.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:space-around;


    padding:120px 8% 50px;


    position:relative;


}




.hero::before{

    content:"";

    position:absolute;

    width:400px;
    height:400px;

    background:#d4af37;

    filter:blur(150px);

    opacity:.25;

    top:100px;
    left:100px;


}



.hero-content{

    max-width:600px;

}



.hello{

    color:var(--gold);

    font-size:22px;

}



.hero h1{

    font-size:65px;

    margin:15px 0;

}



.hero h2{

    font-size:32px;

    color:#ddd;

}



.hero p{

    color:var(--light);

    line-height:1.8;

    margin:20px 0;

}





.buttons a{

    display:inline-block;

    padding:14px 30px;

    border-radius:30px;

    background:var(--gradient);

    color:black;

    text-decoration:none;

    margin-right:15px;

    font-weight:bold;


    transition:.4s;


}



.buttons a:hover{

    transform:translateY(-5px);

}



.buttons .outline{

    background:transparent;

    border:1px solid var(--gold);

    color:white;

}





.tech span{

    display:inline-block;

    margin-top:30px;

    margin-right:10px;

    padding:8px 18px;

    border-radius:20px;


    background:rgba(255,255,255,.1);

    border:1px solid rgba(255,255,255,.2);


}





.profile-card{

    width:330px;
    height:400px;

    position:relative;


    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);


    border-radius:30px;


    display:flex;

    justify-content:center;

    align-items:center;


    animation:float 4s infinite ease-in-out;


}





.profile-card img{


    width:280px;

    height:330px;

    object-fit:cover;

    border-radius:30px;


    position:relative;

    z-index:2;


}





.circle{


    position:absolute;

    width:250px;
    height:250px;


    background:var(--gradient);

    border-radius:50%;

    filter:blur(30px);


}





@keyframes float{


    50%{

        transform:translateY(-20px);

    }


}









/* =========================
        COMMON SECTION
========================= */


section{

    padding:100px 8%;

}



section h2{

    text-align:center;

    font-size:45px;

    margin-bottom:50px;

    color:var(--gold);

}








/* =========================
        ABOUT
========================= */



.about-card{

    max-width:800px;

    margin:auto;

    padding:40px;


    background:var(--card);

    border-radius:25px;


    line-height:1.8;

    color:#ddd;


    box-shadow:
    0 20px 40px rgba(0,0,0,.4);


}




.education{

    margin-top:30px;

}





/* =========================
        SKILLS
========================= */



.skill-container{


    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;


}




.skill-card{


    background:var(--card);

    padding:30px;

    border-radius:20px;


}



.bar{

    height:10px;

    background:#333;

    border-radius:20px;

    margin-top:20px;


}



.bar div{

    height:100%;

    border-radius:20px;

    background:var(--gradient);

}



.html{

    width:95%;

}



.css{

    width:90%;

}



.responsive{

    width:85%;

}



.ui{

    width:75%;

}







/* =========================
        PROJECTS
========================= */


.projects{

    background:#0d1017;

}



.project-container{


    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;


}



.project-card{


    background:var(--card);

    padding:35px;


    border-radius:25px;


    transition:.4s;


}



.project-card:hover{


    transform:translateY(-15px);


    box-shadow:
    0 20px 50px rgba(212,175,55,.25);


}




.project-card h3{

    color:var(--gold);

    margin-bottom:15px;

}




.project-card p{

    color:#ccc;

    line-height:1.7;

}




.project-card a{


    display:inline-block;

    margin-top:20px;

    color:white;

}









/* =========================
        JOURNEY
========================= */


.timeline{


    max-width:700px;

    margin:auto;

}



.timeline div{


    background:var(--card);

    padding:25px;

    margin:20px;

    border-left:4px solid var(--gold);

    border-radius:15px;


}





/* =========================
        CONTACT
========================= */


.contact-box{


    text-align:center;

    line-height:2.5;

    margin-bottom:40px;


}



form{


    max-width:600px;

    margin:auto;


    display:flex;

    flex-direction:column;

    gap:20px;


}



input,
textarea{


    padding:15px;

    background:#151820;

    border:none;

    color:white;

    border-radius:10px;

}



textarea{

    height:150px;

}



button{


    padding:15px;

    border:none;

    border-radius:30px;


    background:var(--gradient);

    cursor:pointer;


    font-weight:bold;


}





footer{

    padding:25px;

    text-align:center;

    background:#050609;

    color:#aaa;

}








/* =========================
        RESPONSIVE
========================= */


@media(max-width:900px){


.hero{

    flex-direction:column;

    text-align:center;

}



.hero h1{

    font-size:45px;

}



.profile-card{

    margin-top:50px;

}



.skill-container,
.project-container{

    grid-template-columns:1fr;

}




.navbar ul{

    gap:15px;

}



}



@media(max-width:600px){


.navbar{

    width:95%;

}



.navbar ul{

    display:none;

}



.hero h1{

    font-size:38px;

}



section h2{

    font-size:35px;

}


}

